.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0ffff;
}
.header {
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
  align-self: center;
  width: 100%;
  font-size: 2em;
  font-weight: 900;
  color: #1c2841;
  padding: 0; /* Remove padding that offsets it */
}

.habit-form-wrapper {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: grid;
  gap: 1.5rem;
  width: 100%;
  max-height: 90vh;
  max-width: 800px; 
}
.habit-form-wrapper input:not([type="checkbox"]){
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color:#1c2841;
    flex: 1;                   /* Stretch to fill remaining space */
    height: 40px;            
    padding: 20px 120px;; 
    font-size: 1.2rem;           
    border-radius: 8px;
    min-width: 0;
    width: 100%;
}
.habit-form-wrapper label{
    margin-top:20px;
    color:#1c2841;
    font-weight: bold;
    text-transform: uppercase;;
    width: 150px;
    white-space: nowrap;
    font-size: 1.2rem; 
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
    
.habit,
.duration,
.frequency,
.description,
.startTime{
  display: flex;
  flex-direction: row;
  gap: 8rem;              
}
.scheduledDays {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem;
}
.checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;       
  gap: 0.5rem;     
  align-items: flex-start;
}
.checkbox-group label{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.button{
    color: white;
    border: 2px solid white;
    background-color: #1c2841;
    border-radius: 10px;
    padding: 12px 72px;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 1.3em;
}
.button:hover{
     filter: brightness(80%);
}

@media (width > 720px) {
    .habit-form-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}