.habit-list{
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        padding-top: 3px;
        background-color: #f0ffff;
    }
    h2{
        text-align:center;
        padding-right: 275px;
        width: 100%;
        font-size: 2.5em;
        font-weight: 900;
    }

    .items{
        min-width: 33rem;
        text-align: center;
    }
    .checkbox-group{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding: 0px;
    }
    .container {
        min-height: 15vh;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    table, th, td{
        min-width: 15vw;
        border: 3px solid #bce0fd;
        border-radius: 2px;
        font-weight: 700;
        font-size: 1.2em;
        color: #1c2841;
    }
    td:hover{
        filter: brightness(90%);
    }
    th:hover{
        filter: brightness(90%);
    }
    .clicker{
            border-radius: 2px;
            border-color: #1c2841;
            font-weight: 900;
            font-size: 1.0em;
            color: #1c2841;
            background-color: #bce0fd;
    }
    .checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px;
    max-width: 100px;
    margin:auto;
    word-break: break-word;

    label {
      font-weight: 700;
      font-size: 1.0em;
      align-items: center;
      justify-content: center;
      color: #1c2841;
    }
  }
}