.habit-list{
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        padding-top: 3px;
        background-color: #f0ffff;
    }
    h2{
        text-align:center;
        padding-right: 275px;
        width: 100%;
        font-size: 2.5em;
        font-weight: 900;
    }

    .items{
        min-width: 33rem;
        text-align: center;
    }
    .container {
        min-height: 15vh;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .habit-table{
        border-collapse: collapse;
        font-size: 1.0em;
        min-width: 400px;
        border-radius: 7px;;
        border: 5px 5px 0 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }
     .habit-table thead tr{
        background-color: #d0e5f7;
        color: #1c2841;
        text-align: left;
        font-weight: bold;
    }
    .habit-table th, .habit-table td{
        padding: 15px 12px;
        color: #1c2841;
        text-align: center;
        font-weight: bold;
    }
    .habit-table tbody tr{
        border-bottom: 2px solid  #1c2841;
    }
    .habit-table tbody tr:nth-child(even){
        background-color: #ebf1f3;
    }
    .clicker{
            border-radius: 2px;
            border-color: #1c2841;
            font-weight: 900;
            font-size: 1.0em;
            color: #1c2841;
            background-color: #bce0fd;
    }
    .checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1px;
    max-width: 100px;
    margin:auto;
    word-break: break-word;

    label {
      font-weight: 700;
      font-size: 1.0em;
      gap: 5px;
      align-items: center;
      justify-content: center;
      color: #1c2841;
    }
    input[type="radio"] {
    appearance: auto; 
    width: 16px;
    height: 16px;
  }
  }
}