h1 {
    margin: 50px 10px 20px 400px;
    font-size: 3.2em;
    color: #121313;
    line-height: 1.1;
  }
  .background {
    background-image: url('../../images/HomeBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 150px;
    align-items: center;
    opacity: .95;
  }
  .divider{
    padding-right: 100px;
  }

  h2{
    margin: 20px 10px 20px 300px;
    color: #121313;
  }
  
  .button-link{
    display: inline-block;
    padding: 8px 40px;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
    border-radius: 8px;
    margin-left: 300px;
    border: 2px solid #121313;
    background-color: #121313;
    color:#f0ffff;
    font-weight: 500;
    cursor: pointer;
  }
  .button-link:hover{
    background-color: #f0ffff;
    color: #121313;
  }