.button-container{
    display:flex;
    justify-content: center;
}
.habit-btn{
    border-radius: 2px;
    border-color: #1c2841;
    font-weight: 900;
    font-size: 1.0em;
    color: #1c2841;
    background-color: #bce0fd;
}